<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="shortcut icon" href="/images/favion.ico" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="/javascripts/eshopScript.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body >
  <!--Phan Header , cai dat tai /views/partials/header.hbs-->
  {{> header}}

  
    

    <!-- phần nội dung -->
      <div class="container">
          <div class="alert flash {{alert_class}}" style="display:none">
              <button type="button" class="close">×</button>
              <i class="fa {{icon_class}} sign"></i><strong>{{type}}</strong>
              <span>{{{message}}}</span>
          </div>

          <div class="row">
            <!-- Thanh điều hướng dọc, cai dat tai /views/partials/verticalnavbar.hbs-->
            <div class="col-md-3">
                {{> verticalnavbar}}
            </div>
            <!--Phan Body , cai dat tai /views/index.hbs-->
            <div class="col-md-9">
              {{{body}}}
            </div>
          </div>
      </div>
  

  <!--Phan Footer , cai dat tai /views/partials/footer.hbs-->
  {{> footer}}

  </body>

  <!--JAVASCRIPT-->
   <!-- Facebook embed -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</html>
