
<!--banner-->
<div class="banner">
    <div class="container">
        <section class="rw-wrapper">
            <h1 class="rw-sentence">
                <span>Panda Team</span>
                <div class="rw-words rw-words-1">
                    <span>Trần Đăng Khoa</span>
                    <span>Tiêu Trí Kiệt</span>
                    <span>Lê Hoàng Lâm</span>
                </div>
                <div class="rw-words rw-words-2">
                    <span>eShop</span>
                    <span>Toy Store</span>
                    <span>2018</span>

                </div>
            </h1>
        </section>
    </div>
</div>
<!--end Banner-->

<div class="content">
    <div class="container">
<br>
        <ul class="breadcrumb">

            <li><a href="/">Trang chủ</a></li>

            <li><a href="#">{{current_cate}}</a></li>

        </ul>


        <!--products-->
        <div class="content-mid">
            <h3>{{current_cate}}</h3>
            <label class="line"></label>


{{#if products}}
    {{# each products}}
    <div class="mid-popular">
        {{# each this}}
                <div class="col-md-3 item-grid simpleCart_shelfItem">
                    <div class=" mid-pop">
                        <div class="pro-img">
                            <img src="{{this.hinhanh.[0]}}" class="img-myresponsive" alt="">
                            <div class="zoom-icon ">
                                <a class="picture" href="{{this.hinhanh.[0]}}" rel="{{this.ten}}" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
                                <a href="/product/detail/{{this._id}}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
                            </div>
                        </div>
                        <div class="mid-1">
                            <div class="women">
                                <div class="women-top">
                                    <h6><a href="/product/detail/{{this._id}}">{{this.ten}}</a></h6>
                                </div>
                                <div class="img item_add">
                                    <a href="#" class="closeLink" onclick="addItem('{{this.ten}}','{{this.gia}}','{{this.hinhanh.[0]}}','{{this._id}}');"><img src="/images/ca.png" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="mid-2">
                                <p><em class="item_price">{{formatNumber this.gia num}} VND</em></p>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>

                </div>

        {{/each}}
    </div>
        <div class="clearfix"></div>
    {{/each}}
{{else}}

    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Không tìm thấy sản phẩm .
    </div>
{{/if}}



                <!--end-->
                <div class="clearfix"></div>
            </div>
        </div>
        <!--//products-->
        <!--brand-->
        <div class="brand">
            <center>
            <ul class="pagination">
                {{#each pages}}
                    <li class="{{this.[2]}}"><a href="{{this.[1]}}/page/{{this.[0]}}">{{this.[0]}}</a></li>
                {{/each}}
            </ul>
            </center>
        </div>
        <!--//brand-->
    </div>

</div>
<!--//content-->