
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>{{product_loai.ten}}</h1>

    </div>
</div>
<div class="single">

    <div class="container">
        <ul class="breadcrumb">

            <li><a href="/"><strong>Trang chủ</strong></a></li>

            <li><a href="#"><strong>Chi tiết sản phẩm</strong></a></li>

            <li><a href="#"><strong>{{product.ten}}</strong></a></li>

        </ul>
        <br>
        <input type="hidden" id="IDProduct" value="{{product._id}}">

        <div class="col-md-9">
            <div class="col-md-5 grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="{{product.hinhanh.[0]}}">
                            <div class="thumb-image"> <img src="{{product.hinhanh.[0]}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="{{product.hinhanh.[1]}}">
                            <div class="thumb-image"> <img src="{{product.hinhanh.[1]}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="{{product.hinhanh.[2]}}">
                            <div class="thumb-image"> <img src="{{product.hinhanh.[2]}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 single-top-in">
                <div class="span_2_of_a1 simpleCart_shelfItem">
                    <h3>{{product.ten}}</h3>
                    <p class="in-para"> <strong>Loại</strong> : {{product_loai.ten}} <br>
                        <strong>Nhãn hiệu</strong> : {{product.nhanhieu}}<br>
                        <strong>Xuất xứ</strong> : {{product.xuatxu}}</p>
                    <div class="price_single">
                        <span class="reducedfrom item_price">{{formatNumber product.gia num}} VND</span>
                        <div class="clearfix"></div>
                    </div>
                    <h4 class="quick">Mô tả:</h4>
                    <p class="quick_desc"> {{product.mota}}</p>

                    <a href="#" class="add-to item_add hvr-skew-backward closeLink" onclick="addItem('{{product.ten}}','{{product.gia}}','{{product.hinhanh.[0]}}','{{product._id}}');">Thêm vào giỏ</a>
                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class="clearfix"> </div>
           <!-- Sản phẩm liên quan-->
            <div class="row">
                <br><br>
                <h4 class="cate">Sản Phẩm Tương Tự</h4>
            </div>
            <hr>
            <!--Hết sản phẩm liên quan-->
            <!-- mine -->
            <div class="row">
                <div class="col-md-12">
                    {{#if relatedproducts}}
                        {{#each relatedproducts}}
                            <div class="col-md-3 col-sm-6">
                                <div class="products">
                                    <a href="/product/detail/{{this._id}}"><img src="{{this.hinhanh.[0]}}" alt="Product Name" class="thumbnail"></a>


                                    <div class="productname">
                                        {{this.ten}}
                                    </div>

                                    <h4 class="price">{{formatNumber this.gia}} VND</h4>
                                    <div class="button_group">
                                        <button class="button_buy" type="button" onclick="window.location.href='/product/detail/{{this._id}}'">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <!-- end mine-->
            <hr>
            <!---->
            <div class="tab-head">
                <nav class="nav-sidebar">
                    <ul class="nav tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Bình luận sản phẩm</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">Đánh giá sản phẩm</a></li>
                    </ul>
                </nav>
                    {{#if user.mod}}
                        <input type="hidden" id="userMod" value="1">
                        {{/if}}
                <div class="tab-content one">
                    <div class="tab-pane active text-style" id="tab1">
                        <div class="facts">

                                <form method="post">
                                    <input type="hidden" id="idProduct" value="{{product._id}}">
                                    {{#if user}}
                                        <input type="hidden" id="userCurCmt" value="{{user.username}}">
                                        <h4>Bình luận dưới tên : <strong>{{user.username}}</strong></h4>
                                        {{else}}
                                        <h4>Bình luận dưới tên : <strong>[Khách]<input type="text" id="userCurCmt" placeholder="Nhập Tên hiển thị"></strong></h4><br>
                                    {{/if}}

                                    <textarea placeholder="Viết bình luận cho sản phẩm này" id="comment" maxlength="500" style="width:100%;"></textarea>
                                    <br>
                                    <center><button type="submit" id="sendComment" class="btn btn-success green"><span class="glyphicon glyphicon-send"></span> Gửi bình luận</button></center>
                                </form>

                            <br><hr>

                            <center><h3>Các bình luận mới nhất</h3></center><br><hr>
                            <div id="productComment">
                                {{#if binhluan}}
                                    {{#each binhluan}}
                                            <div class="panel panel-default" id="productComment">
                                                <div class="panel-heading">
                                                    <strong><span class="glyphicon glyphicon-comment"></span> {{this.nguoibinhluan}}</strong> <span class="text-muted">{{this.thoigian}}</span>
                                                </div>
                                                <div class="panel-body" style="word-break: break-all;">
                                                    <h5>   {{this.noidung}}</h5>
                                                </div><!-- /panel-body -->
                                                <hr>
                                                <a onclick="editComment('{{this._id}}','{{this.nguoibinhluan}}','{{this.noidung}}')"><center><h5 style="color: grey;"><span class="glyphicon glyphicon-edit"></span>Sửa bình luận</h5></center></a>
                                            </div>

                                        <!-- Modal -->

                                    {{/each}}

                                {{/if}}

                            </div>
                            <div id="commentModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Chỉnh sửa bình luận</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" id="userCmt" value="">
                                            <input type="hidden" id="idCmt" value="">
                                            <textarea placeholder="Viết bình luận cho sản phẩm này" id="contentCmt" maxlength="500" style="width:100%;"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning" id="updateCmt">Cập nhật</button>
                                            <button type="button" class="btn btn-danger" id="deleteCmt">Xoá bình luận</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <center>
                                <div id="listPage">
                                <ul class="pagination">

                                    {{#each pages}}
                                        {{#if this.[2]}}
                                            <input type="hidden" value="{{this.[0]}}" id="curPage">
                                            {{/if}}
                                        <li class="{{this.[2]}}" onclick="getPaging({{this.[0]}});" value="{{this.[0]}}"><a class="someclass">{{this.[0]}}</a></li>
                                    {{/each}}

                                </ul>
                                </div>
                            </center>




                        </div>

                    </div>
                    <div class="tab-pane text-style" id="tab2">
                        <p>Không có đánh giá</p>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <br><br><br>
            <!---->
        </div>
        <!----->

        <div class="col-md-3 product-bottom product-at">
            <!--categories-->
            <div class=" rsidebar span_1_of_left">
                <h4 class="cate">Phân loại</h4>

                {{#each loai}}
                    <li class="menu-drop"><a href="/category/loai/{{this._id}}/">{{this.ten}}</a> </li>
                {{/each}}



            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function() {
                    var menu_ul = $('.menu-drop > li > ul'),
                            menu_a  = $('.menu-drop > li > a');
                    menu_ul.hide();
                    menu_a.click(function(e) {
                        e.preventDefault();
                        if(!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true,true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true,true).slideUp('normal');
                        }
                    });

                });
            </script>
            <!--//menu-->

            <!---->
        </div>
        <div class="clearfix"> </div>
    </div>

    <!--brand-->
    <div class="container">
    </div>
    <!--//brand-->
</div>


<script src="/javascripts/imagezoom.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script defer src="/javascripts/jquery.flexslider.js"></script>
<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="screen" />

<script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
