
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>{{product_loai.ten}}</h1>

    </div>
</div>
<div class="single">

    <div class="container">
        <ul class="breadcrumb">

            <li><a href="/">Trang chủ</a></li>

            <li><a href="#">Chi tiết sản phẩm</a></li>

            <li><a href="#">{{product_loai.ten}}</a></li>

        </ul>
        <br>

        <div class="col-md-9">
            <div class="col-md-5 grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="{{product.hinhanh.[0]}}">
                            <div class="thumb-image"> <img src="{{product.hinhanh.[0]}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="{{product.hinhanh.[1]}}">
                            <div class="thumb-image"> <img src="{{product.hinhanh.[1]}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="{{product.hinhanh.[2]}}">
                            <div class="thumb-image"> <img src="{{product.hinhanh.[2]}}" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 single-top-in">
                <div class="span_2_of_a1 simpleCart_shelfItem">
                    <h3>{{product.ten}}</h3>
                    <p class="in-para"> <strong>Loại</strong> : {{product_loai.ten}} <br>
                        <strong>Nhãn hiệu</strong> : {{product.nhanhieu}}<br>
                        <strong>Xuất xứ</strong> : {{product.xuatxu}}</p>
                    <div class="price_single">
                        <span class="reducedfrom item_price">{{formatNumber product.gia num}} VND</span>
                        <div class="clearfix"></div>
                    </div>
                    <h4 class="quick">Mô tả:</h4>
                    <p class="quick_desc"> {{product.mota}}</p>

                    <a href="#" class="add-to item_add hvr-skew-backward closeLink" onclick="addItem('{{product.ten}}','{{product.gia}}','{{product.hinhanh.[0]}}','{{product._id}}');">Thêm vào giỏ</a>
                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class="clearfix"> </div>
           <!-- Sản phẩm liên quan-->
            <div class="row">
                <br><br>
                <h4 class="cate">Sản Phẩm Tương Tự</h4>
            </div>
            <hr>
            <!--Hết sản phẩm liên quan-->
            <!-- mine -->
            <div class="row">
                <div class="col-md-12">
                    {{#if relatedproducts}}
                        {{#each relatedproducts}}
                            <div class="col-md-3 col-sm-6">
                                <div class="products">
                                    <a href="/product/detail/{{this._id}}"><img src="{{this.hinhanh.[0]}}" alt="Product Name" class="thumbnail"></a>


                                    <div class="productname">
                                        {{this.ten}}
                                    </div>

                                    <h4 class="price">{{formatNumber this.gia}} VND</h4>
                                    <div class="button_group">
                                        <button class="button_buy" type="button" onclick="window.location.href='/product/detail/{{this._id}}'">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <!-- end mine-->
            <hr>
            <!---->
            <div class="tab-head">
                <nav class="nav-sidebar">
                    <ul class="nav tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Đánh giá sản phẩm</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">Bình luận sản phẩm</a></li>
                    </ul>
                </nav>
                <div class="tab-content one">
                    <div class="tab-pane active text-style" id="tab1">
                        <div class="facts">
                            <p> Đánh giá sản phẩm tại đây</p>

                        </div>

                    </div>
                    <div class="tab-pane text-style" id="tab2">

                        <div class="facts">
                            <p>Bình luận cho sản phẩm</p>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <br><br><br>
            <!---->
        </div>
        <!----->

        <div class="col-md-3 product-bottom product-at">
            <!--categories-->
            <div class=" rsidebar span_1_of_left">
                <h4 class="cate">Phân loại</h4>

                {{#each loai}}
                    <li class="menu-drop"><a href="/category/loai/{{this._id}}/">{{this.ten}}</a> </li>
                {{/each}}



            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function() {
                    var menu_ul = $('.menu-drop > li > ul'),
                            menu_a  = $('.menu-drop > li > a');
                    menu_ul.hide();
                    menu_a.click(function(e) {
                        e.preventDefault();
                        if(!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true,true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true,true).slideUp('normal');
                        }
                    });

                });
            </script>
            <!--//menu-->

            <!---->
            <section  class="sky-form">
                <h4 class="cate">Xuất xứ</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Nhật Bản JAV</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Việt Nam VAV</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Trung Quốc CHN</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Lào</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Campuchia</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Thái Lan</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ấn Độ</label>
                    </div>
                </div>
            </section>
            <section  class="sky-form">
                <h4 class="cate">Chất lượng</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Hàng lởm</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Hàng kém chật lượng</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Hàng giả</label>

                    </div>
                </div>
            </section>
        </div>
        <div class="clearfix"> </div>
    </div>

    <!--brand-->
    <div class="container">
    </div>
    <!--//brand-->
</div>


<script src="/javascripts/imagezoom.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script defer src="/javascripts/jquery.flexslider.js"></script>
<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="screen" />

<script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
