
        <div class="row">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img class="preview-img" src="{{product.hinhanh.[0]}}" /></div>
                            <div class="tab-pane" id="pic-2"><img class="preview-img" src="{{product.hinhanh.[1]}}" /></div>
                            <div class="tab-pane" id="pic-3"><img class="preview-img" src="{{product.hinhanh.[2]}}" /></div>
                            <div class="tab-pane" id="pic-4"><img class="preview-img" src="{{product.hinhanh.[3]}}" /></div>
                            <div class="tab-pane" id="pic-5"><img class="preview-img" src="{{product.hinhanh.[4]}}" /></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img class="thumbnail-img" src="{{product.hinhanh.[0]}}" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img class="thumbnail-img" src="{{product.hinhanh.[1]}}" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img class="thumbnail-img" src="{{product.hinhanh.[2]}}" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img class="thumbnail-img" src="{{product.hinhanh.[3]}}" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img class="thumbnail-img" src="{{product.hinhanh.[4]}}" /></a></li>
                        </ul>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{product.ten}}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>

                        <p class="product-description"><strong>Loại</strong> : {{product_loai.ten}} <br>
                            <strong>Nhãn hiệu</strong> : {{product.nhanhieu}}<br>
                            <strong>Xuất xứ</strong> : {{product.xuatxu}}
                        </p>
                        <h4 class="price">Giá: <span id="gia">{{formatNumber product.gia num}} VND</span></h4>
                        <p class="vote"><strong>Mô tả </strong> : {{product.mota}} </p>
                        <h5 class="colors">Màu sắc:
                            <span class="color black"></span>
                            <span class="color white"></span>
                            <span class="color blue"></span>
                        </h5>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
                <!-- hhh -->
                <div class="row">
                    <br><br>
                    <h4 class="price">Sản Phẩm Tương Tự</h4>
                </div>

                <!-- mine -->
                <div class="row">
                    <div class="col-md-12">
                        {{#if relatedproducts}}
                            {{#each relatedproducts}}
                                <div class="col-md-3 col-sm-6">
                                    <div class="products">
                                        <a href="/product/detail/{{this._id}}"><img src="{{this.hinhanh.[0]}}" alt="Product Name" class="thumbnail"></a> 
                                        

                                        <div class="productname">
                                            {{this.ten}}
                                        </div>

                                        <h4 class="price">{{this.gia}} VND</h4>
                                        <div class="button_group">
                                            <button class="button_buy" type="button" onclick="window.location.href='/product/detail/{{this._id}}'">
                                                Xem chi tiết
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <!-- end mine-->
                <!--  -->
            </div>
        </div>
    </div>
<script>

</script>